# mr-managed repositories
build-cache-practices/
building-android-apps/
building-c-executables/
building-cpp-executables/
building-groovy-libraries/
building-java-applications/
building-java-libraries/
building-java-web-applications/
building-scala-libraries/
creating-build-scans/
creating-composite-builds/
creating-multi-project-builds/
creating-new-gradle-builds/
designing-gradle-plugins/
gradle-guides-plugin/
gradle-site-plugin/
greeting-plugin-example/
gs-template/
implementing-gradle-plugins/
migrating-from-maven/
performance/
publishing-plugins-to-gradle-plugin-portal/
style-guide/
topical-template/
using-an-existing-gradle-build/
writing-getting-started-guides/
writing-gradle-plugins/
writing-gradle-tasks/

# nginx
nginx.pid

# Vim
*.sw?

.gradle
build
.idea
*.iml
