
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gradle project information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      .container-narrow {
        margin: 0 auto;
        max-width: 800px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      .jumbotron {
        margin: 20px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      
      .colored-font {
        color:#00C489;
      }
      
      .top-spacer {
        margin-top:20px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="#"><div class="colored-font">Website</div></a></li>
          <li><a href="#"><div class="colored-font">Code</div></a></li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <li><img src="img/elephant-corner.png" height="35" width="35"></li>
        </ul>
        <h3>Gradle Docker Plugin</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <p class="lead">
            Gradle plugin for managing Docker images and containers.
        </p>
      </div>

      <hr>
      
      <div>
          <h4><div class="colored-font">Project information</div></h4>
          <table class="table table-striped top-spacer">
              <tr>
                  <th>Property</th>
                  <th>Value</th>
              </tr>
              <tr>
                  <td>Group</td>
                  <td>org.gradle.site</td>
              </tr>
              <tr>
                  <td>Version</td>
                  <td>1.0</td>
              </tr>
              <tr>
                  <td>Source compatibility</td>
                  <td>1.6</td>
              </tr>
              <tr>
                  <td>Target compatibility</td>
                  <td>1.6</td>
              </tr>
              <tr>
                  <td>Gradle version</td>
                  <td>3.5</td>
              </tr>
          </table>
      </div>
      <hr>
      <div>
          <h4><div class="colored-font">Plugins</div></h4>
          <table class="table table-striped top-spacer">
              <tr>
                  <th>Implementation Class</th>
              </tr>
              <tr>
                  <td><code>org.gradle.api.plugins.HelpTasksPlugin</code></td>
              </tr>
              <tr>
                  <td><code>org.gradle.plugins.site.SitePlugin</code></td>
              </tr>
          </table>
      </div>
      <hr>
      <div>
          <h4><div class="colored-font">Tasks</div></h4>
          <table class="table table-striped top-spacer">
              <tr>
                  <th>Name</th>
                  <th>Group</th>
                  <th>Description</th>
              </tr>
              <tr>
                  <td>compile</td>
                  <td>build</td>
                  <td>Compiles code</td>
              </tr>
              <tr>
                  <td>jar</td>
                  <td>build</td>
                  <td>Builds JAR file</td>
              </tr>
              <tr>
                  <td>javadoc</td>
                  <td>documentation</td>
                  <td>Generates Javadocs</td>
              </tr>
              <tr>
                  <td>build</td>
                  <td>all</td>
                  <td>Does everything</td>
              </tr>
          </table>
      </div>
      
      <hr>

      <div class="footer">
        <div class="pull-left">&copy; Gradle Inc. 2013</div>
        <div class="pull-right">Generated: 2017-04-10 17:20</div>
      </div>
    </div>

  </body>
</html>
