div.screenshot {
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.image.inline-icon img {
  vertical-align: sub;
}

p em, p i {
  padding-right: 0.25em;
}
